
.logout{
    background-color: red; 
    color: white; 
    font-weight: 700;
    position: fixed;
    bottom: 0;         
    left: 0;           
    padding: 20px;
    margin: 20px; 
    margin-left: 50px; 
    border-radius: 5px;
}

/* page 1 stuff  */
.form-signin {
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #3366cc;
}
.title{
    color: white;
}
form{
    background-color: #00aaff;
    width: 350px;
    padding: 40px;
    border-radius:6px;
}

/* side bar stuff */
body {
    font-family: Arial, sans-serif;
    background-color: #3366cc;
}
.sidebar {
    width: 200px;
    background-color: #00aaff;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}
.sidebar h1 {
    color: black;
    font-size: 24px;
    margin: 0 0 20px 0;
}
.sidebar a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.sidebar a.home {
    background-color: #aaf0ff;
}

.main-content {
    margin: 0;
    margin-left: 200px;
    
    justify-content: center;
    align-items: start;
}

/* info bar */

.infoBar{
    display: flex;
    justify-content: center;
    margin: 0 auto;            
    padding-top: 20px;

}

.infoBar p{
    color: white; 
    font-size: 30px;
}

.infoBar strong {
    font-size: 40px;
    font-weight: 900;
}

.addButton {
    font-size: 40px;
    font-weight: 500;
    padding: 15px;
    background-color: yellow;
}

/* Card stuff */

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px; 
}

.card, .pieChart {
    width: 1200px; 
    height: 200px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 25px;
    background-color: white;
    display: flex;
     
    justify-content: center;
    
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em; 
    padding: 10px;
}

/* pie chart */
.pieChart{
    width: 600px; 
    height: 1000px; 
    display: grid;    
}
.pieChart p{  
    font-size: 1.1em;
}

.card img {            
    margin: 20px;
}

.card div {
    flex-grow: 1; 
}

.card h1 {
    margin-bottom: 5px; /* Add space between heading and paragraph */
}

.card strong {
    font-size: 30px;
    font-weight: 900;
}

/* buttons */

Button {
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    
}

Button:active {
    position:relative;
    top:1px;
}

.refuseButton{
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color:#fc8d83;            
    border:1px solid #d83526;
    text-shadow:0px 1px 0px #b23e35;
}
.refuseButton:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color:#e4685d;
}

.approveButton{
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;            
    border:1px solid #18ab29;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 15px; 
}
.approveButton:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color:#5cbf2a;
}

.unselectedButton{
    box-shadow:inset 0px 1px 0px 0px #5a5a5a;
    background:linear-gradient(to bottom, #a9a9a9 5%, #808080 100%);
    background-color:#a9a9a9;
    border:1px solid #696969;
    text-shadow:0px 1px 0px #2f2f2f;
    margin-left: 15px;
    color: white; /* Ensuring white text for clarity */
}
.unselectedButton:hover {
    background:linear-gradient(to bottom, #808080 5%, #a9a9a9 100%);
    background-color:#808080;
}



/* seach bar */


.search-bar {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    
    padding-top: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 30px;
    transition: 0.3s;
}



























/* other minor stuff */

.column{
    display: grid; 
}

.row{
    display: flex;
}

.row p{
    margin: 40px 0 0 15px;
}

.buyItemsIcon{
    
    width: 100px; 
    height: 100px;

}